{{define "login"}}
{{template "header" .}}
    <h4>Login</h4>
    <p>
    <form action="" method="post" class="well well-sm">
      <input type="text" name="username" class="form-control" placeholder="Username"><br>
      <input type="password" name="password" class="form-control" placeholder="Password"><br><br>
      <input type="button" onclick="location.href='/';" value="Back" class="btn btn-default"/>
      <input type="submit" value="Submit" class="btn btn-default">
    </form>
    </p>
{{template "footer" .}}
{{end}}