{{define "main"}}
{{template "header" .}}
    <h1>Admin Portal</h1>
    <h4>Status</h4>
    <dir class="well well-sm">
    <p>Login Status: {{.LoginStatus}}</p>
    <p>Connection Status: {{.Verify}}
    <br><br>
    <input type="button" onclick="location.href='/login';" value="Login" class="btn btn-default"/>
    <input type="button" onclick="location.href='/signup';" value="Signup" class="btn btn-default"/>
    </p></dir><br>
    <h4>Change Configuration</h4>
    <p>
    <form action="" method="post" class="well well-sm">
      Directory: {{.Dir}}<br>
      <input type="text" name="dir" class="form-control" value="{{.Dir}}">
      Port: {{.Port}}<br>
      <input type="text" name="port" class="form-control" value="{{.Port}}"><br>
      <input type="submit" value="Set" class="btn btn-default">
      </p><p>
      A port change requires a restart.
      <p>
    </form>
{{template "footer" .}}
{{end}}