{{define "signup"}}
{{template "header" .}}
    <h4>Signup</h4>
    <form action="" method="post" class="well well-sm">
      <p>
      <input type="text" name="username" class="form-control" placeholder="Username"><br>
      <input type="email" name="email" class="form-control" placeholder="Email"><br>
      <input type="password" name="password" class="form-control" placeholder="Password"><br><br>
      <input type="button" onclick="location.href='/';" value="Back" class="btn btn-default"/>
      <input type="submit" value="Submit" class="btn btn-default">
      </p>
    </form>
{{template "footer" .}}
{{end}}